@model Recruiter_Manager.Models.Customer

@{
    ViewData["Title"] = "Dashboard | Recruiter Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        thead{
            background-color: #f2f2f2;
        }
        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
<h1>Dashboard</h1>
    <form class="salarySearch" method="get">
        <span class="form-group">
            <input id="JobTitle" class="JobTitle" name="JobTitle" placeholder="Job Title" />    
            <button id="submitSalarySearch" type="submit" value="Submit" class="btn btn-primary btn-sm" onclick="getSalariesByTitle()" style="border-radius: 3px; border-spacing: 3px;">Compare Salary</button>
        </span>      
    </form>
<div>
    <table id="salaryDisplay">
    </table>
</div>
</br>
<div>
    <table class="recruitertable" style="overflow-x: auto; overflow-y: auto;">
        <thead>
            <tr>
                <th>
                    <center>First Name</center>
                </th>
                <th>
                    <center>Last Name</center>
                </th>
                <th>
                    <center>Email</center>
                </th>
                <th>
                    <center>Phone Number</center>
                </th>
                <th>
                    <center>Company Name</center>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Recruiters)
            {
                <tr>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.FirstName)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.LastName)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.Email)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.PhoneNumber)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.CompanyName)</center>
                    </td>
                    <td>
                        <a asp-controller="Recruiters" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Recruiters" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Recruiters" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <a asp-controller="Recruiters" asp-action="Create">Add New Recruiter</a>
</p>
<br />
<div>
    <table class="jobtable" style="overflow-x: auto; overflow-y: auto;">
        <thead>
            <tr>
                <th>
                    <center>Job Title</center>
                </th>
                <th>
                    <center>Company Name</center>
                </th>
                <th>
                    <center>Posted Compensation</center>
                </th>
                <th>
                    <center>Application Date</center>
                </th>
                <th>
                    <center>Application Status</center>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JobPostings)
            {
                <tr>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.JobTitle)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.CompanyName)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.PostedComp)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.DateApplied)</center>
                    </td>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.ApplicationStatus)</center>
                    </td>
                    <td>
                        <a asp-controller="JobPostings" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="JobPostings" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="JobPostings" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <a asp-controller="JobPostings" asp-action="Create">Add Job Posting</a>
</p>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

